{{- if .Values.configMap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  labels:
    {{- include "frontend.labels" . | nindent 4 }}
data:
  config.js: |
    window.REACT_APP_API_URL = "{{ .Values.apiUrl }}"
{{- end }}
